.navbar {
background-color: bisque;

}


body{
    
    background-image: url(img/J4LE3HYF5JGS7C7DP6KMJW5SGM.webp);
    background-size: 100rem;
}

.contenedor{
    width: 45%;
    border-radius: 2em;
    background-color: whitesmoke; 
    opacity: 55%;
}


.botonera{
    
    margin-top: 19%;
}

